{
    # https://clang.llvm.org/docs/ClangFormatStyleOptions.html
    BasedOnStyle: LLVM,
    AccessModifierOffset: -4,
    AlignAfterOpenBracket: Align,
    AlignArrayOfStructures: Left,
    AlignConsecutiveAssignments: AcrossEmptyLines,
    AlignConsecutiveDeclarations: AcrossEmptyLines,
    AlignConsecutiveMacros: AcrossEmptyLines,
    AlignTrailingComments: Always,
    AllowAllArgumentsOnNextLine: false,
    AllowAllParametersOfDeclarationOnNextLine: false,
    AllowShortBlocksOnASingleLine: Empty,
    AllowShortCaseLabelsOnASingleLine: false,
    AllowShortEnumsOnASingleLine: false,
    AllowShortFunctionsOnASingleLine: Empty,
    AllowShortIfStatementsOnASingleLine: Never,
    AlwaysBreakAfterReturnType: None,
    BinPackArguments: false,
    BinPackParameters: false,
    BreakBeforeBraces: Attach,
    BreakArrays: true,
    BreakBeforeTernaryOperators: true,
    BreakStringLiterals: false,
    ColumnLimit: 120,
    FixNamespaceComments: false,
    IncludeBlocks: Regroup,
    IndentCaseLabels: true,
    IndentPPDirectives: AfterHash,
    IndentWidth: 4,
    InsertBraces: true,
    InsertTrailingCommas: Wrapped,
    MaxEmptyLinesToKeep: 1,
    NamespaceIndentation: All,
    PPIndentWidth: 1,
    PointerAlignment: Right,
    QualifierAlignment: Left,
    ReferenceAlignment: Right,
    RemoveSemicolon: true,
    SortIncludes: CaseSensitive,
    SpaceAfterCStyleCast: true,
    SpaceAfterLogicalNot: false,
    SpaceBeforeAssignmentOperators: true,
    SpaceBeforeCaseColon: false,
    SpaceBeforeParens: ControlStatements,
    SpaceBeforeSquareBrackets: false,
    SpaceInEmptyBlock: false,
    TabWidth: 4,
    UseTab: Never,
}
